main {
  padding: 2rem;
}

#form-section {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-section label {
  display: block;
  margin-top: 1rem;
}

#form-section input,
#form-section textarea,
#form-section button,
#form-section select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#penyakit-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.card button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 48%;
}
